<h1> New Message </h1>
<hr>
<div class="col-md-8">
  <%= form_for @messages do |f| %>
  <div class="ui form">
    <div class="field">
    <label>TO:</label>
    <%= f.select :recipient_id, options_for_select(@users.map{|u| [u.email, u.id]}) %>
    </div>
    <div class="field">
      <%= f.label :subject %>
      <%= f.text_field :subject %>
    </div>
    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>

    <div class="field">
      <%= f.submit "Send", class:"ui blue button" %>
    </div>
  <% end %>
</div>