<div class="ui two column grid">
  <div class="six wide column ">
    <%= form_for (User.new) do |f| %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "Sign up", class:"btn btn-primary" %>
    </div>
    <% end %>

  </div>
  <div class="right floated column">
    <%= image_tag("3.gif", size: "400x400") %>
  </div>
</div>
</div>