<h2>Friends(<%= @user.friendships.size %>)</p></h2>
<hr>
<br>
<div class="ui three column centered grid">
  <% for friendship in @user.friendships %>

  <div class="card column p4"> 

   <div class="image">
    <img src="/images/avatar2/large/kristy.png">
  </div>
  <div class="card-title"><%=h friendship.friend.name %></div>
  <div class="card-text"><%= friendship.friend.email %></div>
  <div class="extra content bottom">
    <span class="bottom floated">
     <%= link_to "remove", friendship, :method => :delete , class:"negative ui button" %>          
   </span> 
 </div>
 
</div>
<% end %> 
</div>




<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
  <li><%=h user.name %></li>
  <% end %>
</ul>


