<nav class="navbar navbar-toggleable-md  navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Chatapp</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <% if !current_user %>
        <%= link_to "Sign up", new_user_path, class:'nav-link' %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if current_user %>
        <li> <%= link_to "Log Out", log_out_path, method: 'delete', class:'nav-link' %></li>
        <li> <%= link_to "User" '<i class="world icon"></i>'.html_safe, users_path, class:'nav-link' %> </li> 
        <% else %>
        <li class="nav-item">          
          <%= link_to "Sign in",  new_session_path, class:'nav-link' %>        
        </li>     
        <% end %>
      </li>     
    </ul>
    <% if current_user %>
    <form class="form-inline my-2 my-lg-0">
      <div class="nav-item">
      <%= link_to "Friends" '<i class="users icon"></i>'.html_safe, friendships_path, class:'nav-link' %>
     </div> 
     <input class="form-control mr-sm-2" type="text" placeholder="Search">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   </form>
   <% end %>
 </div>
</nav>